<h2>Доступные фильмы</h2>

<ul id="media-list">
  <% media.forEach(m => { %>
    <li data-id="<%= m.id %>">
      <strong><%= m.title %></strong> (<%= m.type %>, <%= m.year %>) —
      <%= m.price %> руб. <strong><%= m.available_copies %> доступно</strong>

      <% if (user && user.role === 'client') { %>
        <button class="rent-btn" data-type="rent">Арендовать</button>
        <button class="rent-btn" data-type="reserve">Бронь</button>
      <% } %>
    </li>
  <% }) %>
</ul>
